body {
  margin: 0;
  font-family: sans-serif;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.root {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.overlays canvas {
  mix-blend-mode: multiply;
}



@media all and (min-width: 0) and (max-width: 1280px) {
  .root {
    flex-direction: column;
  }
}

@media all and (min-width: 1281px) {
  .root {
    flex-direction: row;
  }
}
